{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row my-5 justify-content-end">
        <a href="{{ url_for('projekti_novi') }}" role="button" class="btn btn-primary">Dodaj projekat</a>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Šifra</th>
                    <th>Naziv</th>
                    <th>Bodovi vrednosti</th>
                    <th>Status</th>
                    <th>Akcije</th>
                </tr>
            </thead>
            <tbody>
                {% for projekat in projekti %}
                <tr>
                    <td>{{ projekat.sifra }}</td>
                    <td>{{ projekat.naziv }}</td>
                    <td>{{ projekat.bodovi_vrednosti }}</td>
                    <td>{{ projekat.status }}</td>
                    <td>
                        <a href="{{ url_for('projekti_izmena', id=projekat.id) }}" role="button" class="text-warning mx-1">
                            <i class="fas fa-edit"></i>
                        </a>
                        <button type="button" class="text-danger mx-1 border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#deleteModal{{ projekat.id }}">
                        <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
                <div class="modal fade" id="deleteModal{{ projekat.id }}" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body">
                                Da li ste sigurni da želite da obrišete projekat {{ projekat.naziv }}?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Odustani</button>
                                <form action="{{ url_for('projekti_brisanje', id=projekat.id) }}" method="POST">
                                    <button type="submit" class="btn btn-danger">Obriši</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}